.recentSearches {
    color: white;
}

.container-fluid {
    text-align: center;
    
}

#searchFields {
    text-align: center;
}

.left {

    
}

.right {
    text-align: right;
}

.date {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}

h1 {

    padding: 1cm;
}

.asideRight {

    float:right;
}

