.recentSearches {
    color: white;
}

.container-fluid {
    text-align: center;
    
}

#searchFields {
    text-align: center;
}



.right {
    text-align: right;
}

.date {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}

header {

    padding: 1cm;
}

.asideRight {

    float:right;
}

.lastSearch {
    margin-top: .5cm;
    margin-bottom: .5cm;
    color: white;
    text-align: center;
}

.todayWeather {

    margin-bottom: 0cm;



}

.rightSide {

    padding-bottom: 1.5cm;
}


.titleFont {
    color: white;
}